.movies__container {
  width: 75vw;
  margin: 40px auto 0;
}

.movies {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  @media (min-width: 1000px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
