$base-color: rgba(9,9,121,1);
$base-text-color: #fff;
$secondary-txt-color: rgb(165, 165, 165);

iframe {
  display: none;
}

body {
  background: linear-gradient(
    0deg,
    rgba(34,193,195,1) 0%,
    rgba(49,50,155,1) 100%
  );
}

.box {
  background-color: $base-color;
}

.label {
  color: $base-text-color;
  background-color: $base-color;
}

.page {
  display: grid;
  grid-template: auto / 1fr 400px;
  column-gap: 20px;
  min-height: 100vh;
}

.page-content {
  padding: 20px;
}

.sidebar {
  padding: 20px;
  border-left: 1px solid $secondary-txt-color;
  color: $secondary-txt-color;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: $base-color;
  color: $base-text-color;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.06);
  }
}

.title {
  color: $secondary-txt-color;
}

.card-image img {
  padding-top: 10px;
  object-fit: contain;
}
