iframe {
  display: none;
}

.page {
  min-height: 100vh;
  background-image: url("./images/360_F_286323187_mDk3N4nGDaPkUmhNcdBe3RjSOfKqx4nZ.jpeg");
  background-size: cover;
  background-position: center;
}

.box {
  width: 65vw;
  margin: 30px auto;
}

.page-content {
  padding: 20px;
  margin: 0 auto;
}
