.page {
  display: grid;
  grid-template: auto / 1fr 400px;
  column-gap: 20px;
  min-height: 100vh;
}

.page-content {
  padding: 20px;
}

.sidebar {
  padding: 20px;
  border-left: 1px solid lightgray;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.card-image img {
  object-fit: contain;
}

.search-bar {
  display: flex;
  justify-content: center;
  padding: 5px 10px 20px;
}

.input-field {
  width: 100%;
  height: 40px;
}

iframe {
  display: none;
}

